.basket-menu {
    width: 300px;
    height: 400px;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 80px;
    z-index: 1;
    background-color: white;

    .basket-list {
        overflow: scroll;
        height: 75%;
        margin: 20px 20px 0 20px;
    }
    .basket-item {
        display: flex;
        flex-direction: row;
        padding: 10px 0;
    }

    .basket-item-image {
        width: 100px;
        height: 100px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .basket-item-content {
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .title {
            text-transform: uppercase;
        }
    }

    .button {
        padding: 20px;
    }
}
