.highlighted {
    color: grey;
}

.itemsInBasket {
    color: orange;
}

.basket-container {
    position: relative;

    #basket {
        padding: 10px 15px;
    }

    .basket-counter {
        position: absolute;
        bottom: 30px;
        left: 12px;
        font-size: 0.9rem;
    }

    .hidden {
        display: none;
    }
}
