.basket-menu {
    width: 300px;
    height: 400px;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 80px;
    z-index: 1;
    background-color: white;

    .button {
        padding: 20px;
    }
}
