.basket-menu {
    width: 300px;
    height: 400px;
    box-shadow: slategrey 0px 0px 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 80px;
    z-index: 1;
    background-color: white;

    .button {
        padding: 20px;
    }
}

.example-appear {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
}

.example-appear.example-appear-active {
    opacity: 1;
    transform: scaleY(1);
    transition: transform 0.1s ease-in;
}
