.preview-collection {
    margin: 0 70px;
    .title {
        text-align: start;
        margin: 10px;
    }
}

.preview {
    display: flex;
    // flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    &:first-child {
        margin: 0;
    }
}
