.quantity {
    flex-direction: row;
    align-items: center;
    width: 150px;
    position: relative;
    .icon {
        display: inline-block;
        vertical-align: middle;
        padding: 15px 15px;
        cursor: pointer;
        z-index: 1;
        &:hover {
            background-color: rgb(220, 220, 220);
        }
    }

    .number {
        display: inline-block;
        margin: 0 10px;
        vertical-align: middle;
        font-size: 1.2rem;
        pointer-events: none;
    }
}
