.checkout {
    width: 80vw;
    margin: 20px 10vw;
}

.headings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    span {
        width: 150px;
    }
    margin-bottom: 20px;
}
