.preview-tile {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    position: relative;
    width: 30vw;
    height: 25vw;

    &:hover .preview-background {
        opacity: 0.8;
    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .preview-background {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }

    h4 {
        margin: 5px 0;
    }

    &:hover .custom-button {
        display: block;
    }
}
