.basket-list {
    overflow: scroll;
    height: 70vh;
    margin: 20px 20px 0 20px;
    overflow: scroll;
    position: relative;
    &.checkout {
        margin: 0;
        width: 100%;
    }
    .scrollIndicatorUp {
        position: absolute;
        bottom: 0px;
        width: 100%;
        .icon {
            padding: 2px 10px;
            background-color: white;
            border: grey 1px solid;
            border-radius: 5px;
        }
    }
    .scrollIndicatorDown {
        position: absolute;
        bottom: 0px;
        width: 100%;
        .icon {
            padding: 2px 10px;
            background-color: white;
            border: grey 1px solid;
            border-radius: 5px;
        }
    }
}
