.signin {
    width: 40%;
    text-align: left;
    box-shadow: slategrey 0px 0px 10px;
    padding: 20px 20px;
}

.signinform {
    display: flex;
    flex-direction: column;
    .signinbuttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 0;
    }
}
