.checkout-total {
    position: fixed;
    text-align: right;
    bottom: 0;
    height: 100px;
    width: 80%;
    background-color: white;
    .total {
        font-size: 2rem;
        margin-top: 30px;
    }
}
